<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" shutdownHook="disable">
    <Properties>
        <Property name="PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} | %-5level | %C | %M | %t | %msg %n</Property>
        <property name="LOG_LEVEL">INFO</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${LOG_LEVEL}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>